# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# SQLite / local DB files
*.db

# Alembic cache
alembic/versions/__pycache__/

# VSCode / editor files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
