alembic==1.16.5
annotated-types==0.7.0
Mako==1.3.10
MarkupSafe==3.0.3
psycopg2==2.9.10
pydantic==2.12.0
pydantic-settings==2.11.0
pydantic_core==2.41.1
python-dotenv==1.1.1
SQLAlchemy==2.0.43
typing-inspection==0.4.2
typing_extensions==4.15.0

# Web framework and ASGI server
fastapi==0.100.0
uvicorn[standard]==0.23.0
alembic==1.16.5
annotated-types==0.7.0
Mako==1.3.10
MarkupSafe==3.0.3
psycopg2==2.9.10
pydantic==2.12.0
pydantic-settings==2.11.0
pydantic_core==2.41.1
python-dotenv==1.1.1
SQLAlchemy==2.0.43
typing-inspection==0.4.2
typing_extensions==4.15.0

# Fetching 3rd party APIs
certifi==2025.10.5
httpcore==1.0.9
httpx==0.28.1

# Sentence transformers for recommender POC
pillow==12.0.0
charset_normalizer==3.4.4
filelock==3.20.0
fsspec==2025.9.0
hf-xet==1.2.0
huggingface-hub==0.36.0
jinja2==3.1.6
joblib==1.5.2
mpmath==1.3.0
networkx==3.5
numpy==2.3.4
packaging==25.0
regex==2025.10.23
requests==2.32.5
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentence-transformers==5.1.2
setuptools==80.9.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.22.1
torch==2.9.0
tqdm==4.67.1
transformers==4.57.1
urllib3==2.5.0